@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-Regular.ttf");
}

* {
    font-family: "Montserrat", serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#apod-wrapper {
    height: 100%;
    padding: 48px;
    box-sizing: border-box;
    position: relative;
    background: no-repeat center center;
    background-size: cover;
}

#apod-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#title, #time, #info {
    position: absolute;
    background-color: white;
    z-index: 1;
}

#title {
    right: 48px;
    padding: 0 16px;
}

#time {
    width: 400px;
    text-align: center;
    font-size: 6em;
}

#info {
    padding: 0 16px;
    width: 100%;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

#info-content {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

#info-copyright {
    padding-bottom: 16px;
}

#info-title-container {
    display: flex;
}

#info-title-container img {
    transition: transform 0.5s ease-in-out;
}

#info-title {
    flex-grow: 1;
}

#info:hover #info-title-container img {
    transform: rotate(180deg);
}
